
    .gradient-custom-4 {
   
    background: linear-gradient(to right, rgba(30, 8, 231, 0.473), rgb(213, 228, 12))
    }
    .bg-image{
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding: 5rem 0;
        position: relative;
    }