.movie-detail{
    background-image:url(https://1.bp.blogspot.com/-44_3AwL1n5I/VhsBztXKYeI/AAAAAAAABIM/mPmKldtjXVI/s1600/The_Avengers_Wallpaper_HD_MarvelSpoilerOficial_%25C2%25A92015.png) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0;
    position: relative;

}
.movie-detail .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.671);
}